:root {
    --clr-primary-blue: #0476D0;
    --clr-primary-white: #FFFFFF;
    --clr-primary-black: #000000;
    --clr-dark-blue: #041F60;
    --clr-accent-blue: #F2F9FF;
    --clr-accent-black: #404756;
    --ff-montserrat: 'Montserrat', sans-serif;
    --ff-karma: 'Karma', serif;
    --ff-inter: 'Inter', sans-serif;
}


.nav {
    padding: 1rem;
    display: flex;
    align-items: center;
    background-color: var(--clr-dark-blue);
    color: var(--clr-primary-white);
    font-family: var(--ff-inter);
}

.nav__wrapper{
    margin-right: .5rem;
}

.btn__search {
    font-size: 1rem;
}

